@import "./var";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
a:hover{
  cursor: pointer;
}
li {
  list-style-type: none;
}
#aside{
  position: fixed;
  z-index:2000;
  top:0;
  left:0;
  width:$aside-width;
  height: 100%;
  background-color: $brand-primary;
  text-align: center;
}
#aside-logo{
  margin: 50px auto;
  width: 30%;
}
#aside li a{
  display: table-cell;
  transition: all .3s;
  width:$aside-width;
  height: 80px;
  vertical-align: middle;
  color:$btn-primary-color;
  font-size: 16px;
}
#aside .router-link-active{
  background:$bg;
  color:$brown;
}
#main{
  padding-left: $aside-width;
}
.transition-success{
  animation:transition-success 2s ease;
}
@keyframes transition-success {
  50%{
    background-color: $brand-success;
  }
}
.btn:focus, .btn:active, .btn.active {
    outline:none;
}
