@import "home.scss";
body{
  background: $bg;
}
#article{
    visibility: visible !important;
    box-sizing: border-box;
    background-color: white;
    width: 900px;
    max-width: 98%;
    margin: 20px auto 50px;
    padding: 30px 50px;
    box-shadow: 0 30px 50px 0 lightgrey;
    @media screen and (max-width:720px){
      width: 100%;
      max-width: 100%;
    }
}
.article{
  &-title{
    font-size: 26px;
    color:$brown;
    @include t-shadow;
  }
  &-time{
    font-size: 14px;
    color:grey;
    font-weight: normal;
  }
  &-footer{
    border-top: dashed whitesmoke 2px;
    padding: 30px 0 60px;
  }
  &-body{
    color:$black;
    font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
    margin: 30px 0;

    a{
      color:$black;
      border-bottom:dashed red 2px;
      &:hover{
        color:$red
      }
    }
    ol>li{
      list-style-type:decimal;
    }
    ul>li{
      list-style-type:disc;
    }
    table{
      border-collapse: collapse;
      margin:30px 0;
      background-color: whitesmoke;
    }
    td,th{
      border:solid 1px lightgrey;
      padding: 5px;
    }
    ol,ul{
      padding-left: 40px;
    }
    code{
      border-radius: 10px;
      padding: 15px;
    }
    b{
      @include t-shadow;
      color:$red;
    }
    img{
      display: block;
      width: 700px;
      margin:20px auto 0;
    }
  }
}
.related{
  text-align: center;
  &-header{
    margin-top:0;
    font-size: 20px;
    color:$brown;
  }
  &-li{
    color:$brown;
    margin:10px 0;
  }
  &-li-title{
    font-size: 18px;
    @include t-shadow;
  }
}
blockquote{
  border-left: solid red 5px;
  margin:20px 0;
  padding: 10px 20px;
  background-color: whitesmoke;
}
.badge:first-child{
  margin-left: 0;
}
#shift-article{
  visibility: visible !important;  //解决css未加载时的闪屏问题
  width:95%;
  max-width:800px;
  margin:0 auto;
  @media screen and (max-width:720px){
    width: 95%;
  }
  &:after{
    content: '\020';
    display: block;
    clear: both;
  }
}

.shift-article-item{
  &.last{
    float: left;
    .shift-logo{
      margin-right: 10px;
    }
  }
  &.next{
    float: right;
    .shift-logo{
      margin-left: 10px;
    }
  }
  &:hover{
    .shift-logo{
      background: $brown;
    }
    .shift-title{
      color:$brown;
    }
  }
}
.shift-title{
  transition: color .5s ;
  color:grey;
}
.shift-logo{
  transition: background-color .3s ;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background: grey;
  color:whitesmoke;
  text-align: center;
}
.article-type-logo{
  vertical-align: middle;
  width:30px;
}
