@import "myvar";
body {
  padding: 0;
  margin:0;
  background-color:$bg;
  color:$text-color;
  font-family: "Oswald", "Hiragino Sans GB", "Microsoft YaHei",
  "WenQuanYi Micro Hei", sans-serif;
}
.typo{
  font-family: "Hiragino Sans GB", "Microsoft YaHei",
  "WenQuanYi Micro Hei", sans-serif;
}
ul, p, li,h4{
  padding: 0px;
  margin: 0px;
}
strong{
  font-weight: bold;
  color:$red;
  text-shadow: 2px 2px #e0e0e0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}

#main {
  padding-top: 50px;
}
